/* CSS declarations go here */
body{
    padding-top: 80px;
}

#welcome {
  padding-top: 300px;
}

h1{
  text-align: center;
}

textarea {
  width: 600px;
  resize: none;
}

#display_trains {
  padding-left: 200px;
}

