<div class="col-md-offset-4 col-md-4">
  <h1>Select a Train Line</h1>
</div>

<div class="col-md-offset-4 col-md-4">
 <ul>
  <a href="#"><li>North Jersey Coast</li></a>
  <a href="#"><li>Northeast Corridor</li></a>
  <a href="#"><li>Raritan Valley</li></a>
  <a href="#"><li>Morris and Essex</li></a>
  <a href="#"><li>Main/Bergen/Port Jervis</li></a>
  <a href="#"><li>Montclair-Boonton</li></a>
 </ul>
</div>
