<div class="col-md-offset-4 col-md-4">
  <h1>Select a Train Line</h1>
</div>

<div id="display_trains" class="col-md-offset-4 col-md-4">
 <% @lines.each do |line| %>
  <h4><a href="/lines/<%= line.id %>"><%= line.name %></h4></a>
  <% end %>
</div>
